OpenAI-Playground/Microsoft.Flow/flows/3a36a169-1c95-4454-adc1-0046c22378f0/definition.json
{"name":"3c73138a-1e1f-44a9-b194-deb29cd1e155","id":"/providers/Microsoft.Flow/flows/3c73138a-1e1f-44a9-b194-deb29cd1e155","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Openaisummarization","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"2cd683c8-8b5e-49e2-a8eb-811513206fa1","type":"User","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-03-02T00:58:47.1167207Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"8a6969a5-a29a-4699-a966-107386c6210b"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Initializevariable_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false}},"required":["Initializevariable_Value"]}}}},"actions":{"Initialize_variable":{"runAfter":{},"metadata":{"operationMetadataId":"a5dbd7cf-af6a-4f03-816f-19fbf80b1500"},"type":"InitializeVariable","inputs":{"variables":[{"name":"prompt","type":"string","value":"@{triggerBody()['Initializevariable_Value']}"}]}},"HTTP":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"7902be29-c896-49c2-95c1-7a46ee4e65ee"},"type":"Http","inputs":{"method":"POST","uri":"https://your-resource-name.openai.azure.com/openai/deployments/deployment-id/completions?api-version=api-version","headers":{"Content-Type":"application/json","api-key":"YOUR_API_KEY"},"body":{"prompt":"@triggerBody()['Initializevariable_Value']","max_tokens":1000,"temperature":1}}},"Parse_JSON":{"runAfter":{"HTTP":["Succeeded"]},"metadata":{"operationMetadataId":"66797ba9-354b-46f4-941a-86fcc28d7045"},"type":"ParseJson","inputs":{"content":"@body('HTTP')","schema":{"type":"object","properties":{"id":{"type":"string"},"object":{"type":"string"},"created":{"type":"integer"},"model":{"type":"string"},"choices":{"type":"array","items":{"type":"object","properties":{"text":{"type":"string"},"index":{"type":"integer"},"logprobs":{},"finish_reason":{"type":"string"}},"required":["text","index","logprobs","finish_reason"]}}}}}},"Initialize_variable_2":{"runAfter":{"Parse_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"1829185b-cabe-47c5-bcf6-409546e23ce2"},"type":"InitializeVariable","inputs":{"variables":[{"name":"outsummary","type":"string","value":"\"\""}]}},"Apply_to_each":{"foreach":"@body('Parse_JSON')?['choices']","actions":{"Set_variable":{"runAfter":{},"metadata":{"operationMetadataId":"560a3ef2-87a9-4058-9427-006507ab3396"},"type":"SetVariable","inputs":{"name":"outsummary","value":"@{items('Apply_to_each')}"}}},"runAfter":{"Initialize_variable_2":["Succeeded"]},"metadata":{"operationMetadataId":"8afb1816-6aaa-4351-80d2-db59d1bdcbdc"},"type":"Foreach"},"Parse_JSON_2":{"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"operationMetadataId":"dbed2383-fb39-42f7-ab6e-0dc45d49f190"},"type":"ParseJson","inputs":{"content":"@variables('outsummary')","schema":{"type":"object","properties":{"text":{"type":"string"},"index":{"type":"integer"},"finish_reason":{"type":"string"},"logprobs":{}}}}},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Parse_JSON_2":["Succeeded"]},"metadata":{"operationMetadataId":"96bdc9ff-778b-4fed-9d40-91df1e8ca395"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"summarytext":"@body('Parse_JSON_2')?['text']"},"schema":{"type":"object","properties":{"summarytext":{"title":"summarytext","x-ms-dynamically-added":true,"type":"string"}}}}}},"outputs":{}},"connectionReferences":{},"flowFailureAlertSubscribed":false,"isManaged":false}}